[Unit]
Description=keypad read daemon
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/keypad/
ExecStart=/home/pi/keypad/keypad-start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target